# Maven
**/target/
target/

# Node
node_modules/
dist/
package-lock.json

#Test results
tests/e2e/report/*
test-results/*

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

data/

#Eclipse files
*.project
*.prefs
*.classpath